{{!--Change Password Modal--}}
<div class="modal modal-lg fade fade-in" id="change-password">
    <div class="modal-dialog">
        <div class="modal-content bg-dark shadow">
            <div class="modal-header">
                <h5>Change Password</h5>
            </div>
            <form id="change-password-form" action="/change-password" method="post">
                <div class="modal-body">
                    <div class="form-group mb-3">
                        <label class="form-label" for="change-password--description">Enter New Password:</label>
                        <input type="password" id="pass" name="password" minlength="8" required /> <br>
                        <label class="form-label" for="change-password--description">Confirm New Password:</label>
                        <input type="password" id="pass-confirm" name="pass-confirm" minlength="8" required />
                    </div>
                    <p id="password-change-error" class="text-danger d-none">Passwords do not match.</p>
                    <input type="hidden" name="email" id="user-email" value="{{user.email}}" required>
                </div>

                <div class="modal-footer">
                    <button type="submit" id="change-password" class="btn btn-primary">Change Password</button>
                </div>
            </form>

        </div>
    </div>
</div>

