<div class="search-box input-group mb-3">
    <div class="input-group-prepend">
        <span class="input-group-text">🔎</span>
    </div>
    <input id="search-text" type="text" class="form-control" placeholder="Search query" oninput="filterReviews()"
        autocomplete="off">
</div>