* {
    font-family: Arial, Helvetica, sans-serif;
}

.bold {
    font-weight: bold;
}

.x-large {
    font-size: x-large;
}

.subtitle {
    color: var(--bs-secondary);
}

.game-info-container {
    display: flex;
    background-image: linear-gradient(rgba(255, 255, 255, 0.25), rgb(255, 255, 255, 1)), url("img/back/Super Mario Bros. (World).png");
    background-size: 100% auto;
    background-repeat: repeat;
    background-position: 50%;
    image-rendering: pixelated;
    padding: 10%;
    /* text-shadow: 1px 1px #00000045; */
}

.game-title {
    font-size: xx-large;
    font-weight: bold;
}

.text-description {
    text-align: justify;
}

.game-cover {
    height: 100%;
    align-self: center;
    width: auto;
    max-width: 30vw;
    margin: 10%;
}

.star-rating {
    display: block;
    margin-bottom: 1rem;
}

.checked {
    color: gold;
}

/* Reviews */
.reviews {
    display: flex;
    flex-wrap: wrap;
}

.review {
    padding: 16px;
    margin: 16px;
    flex-basis: calc(50% - 32px);
}

.profile-picture {
    background-image: url("img/profile/bluekachu.png");
    background-size: contain;
    height: 3rem;
    width: 3rem;
    background-repeat: no-repeat;
    border: 2px solid white;
    border-radius: 50%;
}

.reviewer-info {
    display: flex;
}

.author-date>p {
    margin-bottom: 0;
}

.review-date {
    color: var(--bs-secondary);
}