@import url('https://fonts.googleapis.com/css2?family=Doto:wght@100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --primary: #5c5978;
}

* {
    font-family: Inter, Arial, Helvetica, sans-serif;
}

.branding-name {
    font-family: Doto;
}

.bold {
    font-weight: bold;
}

.x-large {
    font-size: x-large;
}

.subtitle {
    color: var(--bs-secondary);
}

.game-back {
    background-image: linear-gradient(rgba(255, 255, 255, 0.25), rgb(255, 255, 255, 1)), url("img/back/Super Mario Bros. (World).png");
    background-size: cover;
    background-repeat: repeat;
    background-position: 50%;
    image-rendering: pixelated;
}

.game-info {
    display: flex;
}

.game-title {
    font-size: xx-large;
    font-weight: bold;
}

.text-description {
    text-align: justify;
}

.game-cover {
    width: 100%;
    height: auto;
    max-width: 30vw;
    margin: 5%;
    align-self: center;
}

.star-rating {
    display: block;
    margin-bottom: 1rem;
}

.checked {
    color: gold;
}

/* Reviews */
.reviews {
    display: flex;
    flex-wrap: wrap;
}

.review {
    padding: 16px;
    margin: 16px;
    flex-basis: calc(50% - 33px);
}

.profile-picture {
    background-image: url("img/profile/bluekachu.png");
    background-size: contain;
    height: 3rem;
    width: 3rem;
    background-repeat: no-repeat;
    border: 2px solid white;
    border-radius: 50%;
}

.reviewer-info {
    display: flex;
}

.author-date>p {
    margin-bottom: 0;
}

.review-date {
    color: var(--bs-secondary);
}