
:root {
    --primary: #5c5978;
}

* {
    font-family: Inter, Arial, Helvetica, sans-serif;
}

.branding-name {
    font-family: Doto;
}

.bold {
    font-weight: bold;
}

.x-large {
    font-size: x-large;
}

.subtitle {
    font-style: italic;
}

.center {
    text-align: center;
    display: block;
    margin: auto;
}

.flex-wrap {
    display: flex;
    flex-wrap: wrap;
}

/* Index */

.game {
    padding: 16px;
    margin: 16px;
    width: 100%;
}

.index-game-cover {
    height: 24rem;
    width: auto;
    display: block;
}

/* View individual game */

.game-back {
    background-image: linear-gradient(rgba(255, 255, 255, 0.25), rgb(255, 255, 255, 1)), url("img/back/Super Mario Bros. (World).png");
    background-size: cover;
    background-repeat: repeat;
    background-position: 50%;
    image-rendering: pixelated;
}

.game-description {
    background-color: #ffffff50;
    padding: 16px;
    margin: 8px;
}

.game-title {
    font-size: xx-large;
    font-weight: bold;
}

.text-description {
    text-align: justify;
}

.individual-game-cover {
    width: 100%;
    height: auto;
    max-width: 30vw;
    margin: 5%;
    align-self: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.star-rating {
    display: block;
    margin-bottom: 1rem;
    width: 100%;
}

.checked {
    color: gold;
}

.separator {
    margin-left: auto;
}

/* Reviews */

.review {
    padding: 16px;
    margin: 16px;
    flex-basis: calc(50% - 33px);
}

.votes {
    margin-left: auto;
    float: right;
}

.block-link {
    color: black;
    text-decoration: none;
}

.review:hover {
    background-color: var(--bs-gray-500);
}

.profile-picture {
    background-image: url("img/profile/bluekachu.png");
    background-size: contain;
    height: 3rem;
    width: 3rem;
    background-repeat: no-repeat;
    border: 2px solid white;
    border-radius: 50%;
}

.reviewer-info {
    display: flex;
}

.author-date>p {
    margin-bottom: 0;
}

.review-date {
    color: var(--bs-secondary);
}

/* Media queries */

/* Desktop layout exclusive */

@media only screen and (min-width: 900px) {

    /* Landing Page + View Games: make games appear in a 3-column layout */
    .game {
        flex-basis: calc(100%/3 - 32px);
    }

    /* View Individual Game Reviews + Info Page: make cover appear beside game description */
    .game-info {
        display: flex;
    }

}