<main class="container">
    <img class="logo center py-5" src=img/FrogCritic.png alt="FrogCritic">
    <div class="container bg-dark shadow py-4 px-4">
        <h1>About FrogCritic</h1>
        <p>
            FrogCritic is a video games review web application. Here, users may submit reviews for the games listed, although they must have created and logged into an account to do so. These reviews are aggregated into a game's average rating. The reviews themselves may also be "rated" via an upvotes system, and developers can respond to these reviews. Developers who wish to add their games to FrogCritic should submit a request via the Google Forms link found in the <a href="/">main page.</a>
        </p>
        
        <h2>Web Developers</h2>
        <ul>
            <li>Kurt Christian Andaya</li>
            <li>Roemer Gabriel Caliboso</li>
            <li>Justin Rainier Go</li>
        </ul>

        <h2>Special Thanks</h2>
        This web application is mainly built on the following technologies:
        <ul>
            <li>Bootstrap</li>
            <li>Node.js</li>
            <li>Express</li>
            <li>MongoDB</li>
            <li>Render</li>
        </ul>
    </div>
</main>