@import url("https://fonts.googleapis.com/css2?family=Doto:wght@100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(32px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes shiftDiagonal {
    0% {
        background-position: 0 0;
    }

    100% {
        /* img dimensions are 626x626px*/
        background-position: 626px -626px;
    }
}

:root {
    --primary: #732dff;
    --secondary: #411774;
    --white: #fcf8ff;
    --black: #1f1926;
    --gold: #fffb00;
}

* {
    font-family: Inter, Arial, Helvetica, sans-serif;
    color: var(--white);
}

option {
    color: var(--black);
}

.unclickable {
    pointer-events: none;
}

nav {
    background-color: var(--primary);
}

.navbar-brand,
.nav-item>a {
    color: var(--white);
}

.image-preview{
    display: flex;
    align-content: center;
    justify-content: center;
    border: var(--white);
}

.image-preview > img{
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
}

.navbar-username{
    font-weight: 700;
    font-size: larger;
}


body {
    background-image: url("/img/background.png");
    background-color: var(--black);
    background-position: center top;
    background-repeat: repeat;
    animation: shiftDiagonal 32s linear infinite;
}

.center {
    text-align: center;
    display: block;
    margin: auto;
}

.block-link {
    color: var(--white);
    text-decoration: none;
}

a:hover {
    color: var(--primary);
    text-decoration: underline;
}

.fade-in {
    animation: fadeIn 0.6s ease-out;

}

/* Index */

.logo {
    max-width: 512px;
    height: auto;
    filter: drop-shadow(5px 5px 5px #222);
}

.logo-sm {
    height: 2rem;
    width: auto;
}

.search-box {
    max-width: 728px;
    margin: auto;
}

.index-game-entry {
    padding: 16px;
    margin: 16px;
    width: 100%;
    background-color: var(--secondary);
}

.index-game-cover-container {
    height: 24rem;
    display: flex;
    background-color: var(--bs-dark);
}

.index-game-cover {
    height: auto;
    max-height: 22rem;
    max-width: 18rem;
}

.index-game-cover-container:hover {
    background-color: var(--primary);
}

/* View individual game */

.bg-game {
    background-size: cover;
    background-repeat: repeat;
    background-position: 50%;
    image-rendering: pixelated;
}

.game-description {
    text-align: justify;
    padding: 16px;
    margin: 8px;
}

.individual-game-cover {
    max-height: 32rem;
    align-self: center;
    display: block;
    margin: auto;
}

.star-rating {
    display: block;
    margin-bottom: 1rem;
    width: 100%;
    text-underline-offset: 0.25rem;
}

.unchecked {
    color: var(--white);
}

.checked {
    color: var(--gold);
}

/* Reviews */

#game-info-container {
    text-shadow: 2px 2px 4px#000000;
}

.review {
    padding: 16px;
    margin: 16px;
    flex-basis: calc(50% - 33px);
    background-color: var(--black);
}

.votes {
    margin-left: auto;
    float: right;
}

.avatar {
    height: 3rem;
    width: 3rem;
    /* border-radius: 50%; */
    rotate: -5deg;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.avatar:hover {
    rotate: -10deg;
}

.reviewer-info {
    display: flex;
}

.author-date>p {
    margin-bottom: 0;
}

.review-date {
    color: var(--white);
}

.attachment {
    height: auto;
    max-width: 100%;
}

/* Member List */

.clickable-table-rows>tr {
    cursor: pointer;
}

/* Profile */

.avatar-big {
    height: 8rem;
    width: 8rem;
}

.profile-header {
    font-size: large;
    font-weight: bold;
}

.checkbox-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

/* Registration */

.register-input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.register-btn {
    width: 100%;
    background-color: var(--primary);
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.register-btn:hover {
    background-color: var(--secondary);
}

.register-label {
    font-weight: bold;
    display: block;
    margin: 10px 0 5px;
}

.terms {
    font-size: 12px;
    color: #777;
    margin-left: 22px;
}

.terms-conditions-popup {
    height: 500px;
}

#terms-conditions {
    animation: fadeIn 0.6s ease-out;
}